%p#notice= notice

%p
  %b Title:
  = @activity.title
%p
  %b Comment:
  = @activity.comment
%p
  %b Estimate:
  = @activity.estimate
%p
  %b Day list:
  = @activity.day_list_id

= link_to 'Edit', edit_activity_path(@activity)
\|
= link_to 'Back', activities_path
