<%= form_for(@day_list) do |f| %>
  <% if @day_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@day_list.errors.count, "error") %> prohibited this day_list from being saved:</h2>

      <ul>
      <% @day_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
