<h1>Listing day_lists</h1>

<table>
  <tr>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @day_lists.each do |day_list| %>
  <tr>
    <td><%= day_list.date %></td>
    <td><%= link_to 'Show', day_list %></td>
    <td><%= link_to 'Edit', edit_day_list_path(day_list) %></td>
    <td><%= link_to 'Destroy', day_list, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Day list', new_day_list_path %>
