<td><%= title %></td>
<td><%= comment %></td>
<td><%= estimate %></td>
<td><%= day_list_id %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>